Write a python program to display all the header tags from wikipedia.org.

In [91]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [15]:
url_link = "https://en.wikipedia.org/wiki/Main_Page"
request = requests.get(url_link,'lxml')
soup = BeautifulSoup(request.text,'html')
headers = ['h1','h2','h3','h4','h5','h6']
for data in soup.find_all(headers):
    print(data.name + '->' + data.text)

h1->Main Page
h2->From today's featured article
h2->Did you know ...
h2->In the news
h2->On this day
h2->Today's featured picture
h2->Other areas of Wikipedia
h2->Wikipedia's sister projects
h2->Wikipedia languages
h2->Navigation menu
h3->
Personal tools

h3->
Namespaces

h3->
Variants
expanded
collapsed

h3->
Views

h3->
More
expanded
collapsed

h3->
Search

h3->
Navigation

h3->
Contribute

h3->
Tools

h3->
Print/export

h3->
In other projects

h3->
Languages

Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [178]:
url_link = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'
request = requests.get(url_link,'lxml')
soup = BeautifulSoup(request.text,'html.parser')
final_data = []
for data in soup.find_all('div',{'class':'lister-item'}):
    movie_data = {}
    movie_data['movie_name'] = data.find('img')['alt']
    movie_data['release_year'] = data.find('span',{'class':'lister-item-year'}).getText()[1:-1]
    movie_data['runtime'] = data.find('span',{'class':'runtime'}).getText()
    movie_data['genre'] = data.find('span',{'class':'genre'}).getText().replace("\n","")
    movie_data['rating'] = data.find('span',{'class':'rating-rating'}).getText()
    final_data.append(movie_data)
data = pd.DataFrame(final_data)
data

,movie_name,release_year,runtime,genre,rating
0,The Shawshank Redemption,1994,142 min,Drama,9.3/10
1,The Godfather,1972,175 min,"Crime, Drama",9.2/10
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9/10
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9/10
4,12 Angry Men,1957,96 min,"Crime, Drama",9/10
5,The Lord of the Rings: The Return of the King,2003,201 min,"Action, Adventure, Drama",8.9/10
6,Pulp Fiction,1994,154 min,"Crime, Drama",8.9/10
7,Schindler's List,1993,195 min,"Biography, Drama, History",8.9/10
8,Inception,2010,148 min,"Action, Adventure, Sci-Fi",8.8/10
9,Fight Club,1999,139 min,Drama,8.8/10
10,The Lord of the Rings: The Fellowship of the Ring,2001,178 min,"Action, Adventure, Drama",8.8/10
11,Forrest Gump,1994,142 min,"Drama, Romance",8.8/10
12,"Il buono, il brutto, il cattivo",1966,161 min,"Adventure, Western",8.8/10
13,Spider-Man: No Way Home,2021,148 min,"Action, Adventure, Fantasy",8.7/10
14,The Lord of the Rings: The Two Towers,2002,179 min,"Action, Adventure, Drama",8.7/10
15,The Matrix,1999,136 min,"Action, Sci-Fi",8.7/10
16,Goodfellas,1990,146 min,"Biography, Crime, Drama",8.7/10
17,Star Wars: Episode V - The Empire Strikes Back,1980,124 min,"Action, Adventure, Fantasy",8.7/10
18,One Flew Over the Cuckoo's Nest,1975,133 min,Drama,8.7/10
19,Gisaengchung,2019,132 min,"Comedy, Drama, Thriller",8.6/10
20,Interstellar,2014,169 min,"Adventure, Drama, Sci-Fi",8.6/10
21,Cidade de Deus,2002,130 min,"Crime, Drama",8.6/10
22,Sen to Chihiro no kamikakushi,2001,125 min,"Animation, Adventure, Family",8.6/10
23,Saving Private Ryan,1998,169 min,"Drama, War",8.6/10
24,The Green Mile,1999,189 min,"Crime, Drama, Fantasy",8.6/10
25,La vita è bella,1997,116 min,"Comedy, Drama, Romance",8.6/10
26,Se7en,1995,127 min,"Crime, Drama, Mystery",8.6/10
27,The Silence of the Lambs,1991,118 min,"Crime, Drama, Horror",8.6/10
28,Star Wars,1977,121 min,"Action, Adventure, Fantasy",8.6/10
29,Seppuku,1962,133 min,"Action, Drama, Mystery",8.6/10
30,Shichinin no samurai,1954,207 min,"Action, Drama",8.6/10
31,It's a Wonderful Life,1946,130 min,"Comedy, Drama, Family",8.6/10
32,Whiplash,2014,106 min,"Drama, Music",8.5/10
33,The Intouchables,2011,112 min,"Biography, Comedy, Drama",8.5/10
34,The Prestige,2006,130 min,"Drama, Mystery, Thriller",8.5/10
35,The Departed,2006,151 min,"Crime, Drama, Thriller",8.5/10
36,The Pianist,2002,150 min,"Biography, Drama, Music",8.5/10
37,Gladiator,2000,155 min,"Action, Adventure, Drama",8.5/10
38,American History X,1998,119 min,Drama,8.5/10
39,The Usual Suspects,1995,106 min,"Crime, Drama, Mystery",8.5/10
40,Léon,1994,110 min,"Action, Crime, Drama",8.5/10
41,The Lion King,1994,88 min,"Animation, Adventure, Drama",8.5/10
42,Terminator 2: Judgment Day,1991,137 min,"Action, Sci-Fi",8.5/10
43,Nuovo Cinema Paradiso,1988,155 min,"Drama, Romance",8.5/10
44,Hotaru no haka,1988,89 min,"Animation, Drama, War",8.5/10
45,Back to the Future,1985,116 min,"Adventure, Comedy, Sci-Fi",8.5/10
46,Once Upon a Time in the West,1968,165 min,Western,8.5/10
47,Psycho,1960,109 min,"Horror, Mystery, Thriller",8.5/10
48,Rear Window,1954,112 min,"Mystery, Thriller",8.5/10
49,Casablanca,1942,102 min,"Drama, Romance, War",8.5/10

Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.

In [191]:
url_link = 'https://www.imdb.com/india/top-rated-indian-movies/'
request = requests.get(url_link,'lxml')
soup = BeautifulSoup(request.text,'html.parser')
table = []
for data in soup.find_all('tr'):
    if(data.find('td')):
        movie_data = {}
        movie_data['movie_name'] = data.find('td',{'class':'titleColumn'}).find('a').getText()
        movie_data['release_date'] = movie_name = data.find('td',{'class':'titleColumn'}).find('span').getText()[1:-1]
        movie_data['rating'] = data.find('td',{'class':'ratingColumn'}).find('strong').getText()
        table.append(movie_data)
final_data = pd.DataFrame(table)
final_data

               movie_name release_date rating
0       Pariyerum Perumal         2018    8.5
1                Jai Bhim         2021    8.5
2                 Nayakan         1987    8.5
3       C/o Kancharapalem         2018    8.5
4              Anbe Sivam         2003    8.5
..                    ...          ...    ...
245                   Sir         2018    7.6
246                  Darr         1993    7.6
247  Kabhi Haan Kabhi Naa         1994    7.6
248         Kapoor & Sons         2016    7.6
249                Newton         2017    7.6

[250 rows x 3 columns]

Write a python program to scrape product name, price and discounts from https://meesho.com/bags-
ladies/pl/p7vbp .

In [202]:
url_link = 'https://meesho.com/bags-%20ladies/pl/p7vbp'
request = requests.get(url_link,'lxml')
soup = BeautifulSoup(request.text,'html.parser')
products = []
for data in soup.find_all('div',{'class':'sc-dkPtRN ProductList__GridCol-sc-8lnc8o-0 FjWWx jMkQHN'}):
    product_data = {}
    product_data['product_name'] = data.find('p',{'class':'Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS'}).getText()
    product_data['price'] = data.find('h5',{'class':'Text__StyledText-sc-oo0kvp-0 hiHdyy'}).getText()[1:]
    product_data['discount in %'] = data.find('span',{'class':'Text__StyledText-sc-oo0kvp-0 lnonyH'}).getText().split('%')[0]
    products.append(product_data)
pd.DataFrame(products)

                          product_name price discount in %
0   Elegant Fashionable Women Handbags   192            30
1   Gorgeous Attractive Women Handbags   342            23
2         Classic Fancy Women Handbags   207            30
3     Classic Versatile Women Handbags   384            21
4    Gorgeous Versatile Women Handbags   234            30
5          Trendy Fancy Women Handbags   464            18
6        Voguish Classy Women Handbags   187            30
7     Elegant Versatile Women Handbags   234            30
8     Ravishing Stylish Women Handbags   227            30
9    Ravishing Alluring Women Handbags   282            26
10    Classic Versatile Women Handbags   214            30
11              Elegant Women Handbags   171            30
12    Elite Fashionable Women Handbags   233            30
13        Voguish Fancy Women Handbags   137            30
14      Classic Stylish Women Handbags   274            27
15   Elegant Attractive Women Handbags   200            30

Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
    b) Top 10 ODI Batsmen along with the records of their team and rating.
    c) Top 10 ODI bowlers along with the records of their team and rating.

In [221]:
url_link = 'https://www.mykhel.com/cricket/icc-odi-rankings/'
request = requests.get(url_link,'lxml')
soup = BeautifulSoup(request.text,'html.parser')
cricket = []
for data in soup.find_all('tr'):
    if(data.find_all('td')):
        cricket_data = {}
        cricket_data['ranking'] = data.find_all('td')[0].getText()
        cricket_data['country'] = data.find_all('td')[1].getText()
        cricket_data['rating'] = data.find_all('td')[2].getText()
        cricket_data['points'] = data.find_all('td')[3].getText()
    cricket.append(cricket_data)
pd.DataFrame(cricket)

   ranking               country rating points
0       20      Papua New Guinea      0      0
1        1           New Zealand    121   2054
2        2               England    119   3793
3        3             Australia    116   3244
4        4                 India    113   3624
5        5          South Africa     98   2459
6        6              Pakistan     93   2524
7        7            Bangladesh     91   2740
8        8           West Indies     84   2523
9        9             Sri Lanka     83   2657
10      10           Afghanistan     62   1054
11      11           Netherlands     48    336
12      12               Ireland     46   1145
13      13              Scotland     45    452
14      14              Zimbabwe     38    764
15      15                  Oman     35    566
16      16                 Nepal     30    330
17      17  United Arab Emirates     21    190
18      18               Namibia     21    167
19      19         United States     17    232
20      20      Papua New Guinea      0      0

In [223]:
url_link = 'https://www.mykhel.com/cricket/icc-batsmen-rankings/'
request = requests.get(url_link,'lxml')
soup = BeautifulSoup(request.text,'html.parser')
cricket = []
for data in soup.find_all('tr'):
    if(data.find_all('td')):
        cricket_data = {}
        cricket_data['ranking'] = data.find_all('td')[0].getText()
        cricket_data['player'] = data.find_all('td')[1].getText()
        cricket_data['country'] = data.find_all('td')[2].getText()
        cricket_data['points'] = data.find_all('td')[3].getText()
    cricket.append(cricket_data)
pd.DataFrame(cricket)

    ranking                player      country points
0       100          David Wiese           NAM    356
1         1   Marnus Labuschagne     Australia    935
2         2             Joe Root       England    872
3         3      Kane Williamson   New Zealand    862
4         4          Steve Smith     Australia    845
..      ...                   ...          ...    ...
298      96        Soumya Sarkar    Bangladesh    359
299      97     Muhammad Tanveer           QAT    358
300      98      Gyanendra Malla           NEP    357
301      99          Steve Smith     Australia    357
302     100          David Wiese           NAM    356

[303 rows x 4 columns]